
  <ion-content >
    <div class="auth-form">
    <!-- <ion-grid>
      <ion-text>Sign In or Register to Access Favorites</ion-text>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-button
            [routerLink]="['/registration']"
            expand="block"
            color="primary"
            >Register</ion-button
          >
          <ion-button [routerLink]="['/login']" expand="block" color="danger"
            >Sign In</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <div class="card-container">
      <ion-card>
        <ion-card-header>
          <ion-text> Login to access Favorites!</ion-text>
        </ion-card-header>

        <ion-card-content>

          <div>
            <form>
            <ion-item class="input">
              <ion-label  position="stacked" color="primary">Email</ion-label>
              <ion-input type="text" #email required></ion-input>
            </ion-item>
            <ion-item class="input">
              <ion-label  position="stacked" color="primary">Password</ion-label>
              <ion-input type="password" #password required></ion-input>
            </ion-item>
            <ion-button type="submit" class="login-button" color="primary" (click)="login(email, password)">
              Login
            </ion-button>
          </form>
          </div>

          <div class="ion-text-center loading-button-section">
            <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
          </div>

          <div class="hr-section">
            <ion-text class="hr-text">
              OR
            </ion-text>
          </div>

          <div class="logo-section">
            <ion-icon class="fb-logo" name="logo-facebook" color="primary" (click)="socialLogin()"></ion-icon>
            <ion-icon name="logo-google" color="danger" (click)="socialLogin()"></ion-icon>
          </div>

          <div class="sign-up-section">
            <ion-text>
              Need an account?
            </ion-text>
            <ion-text class="sign-up-text" [routerLink]="['/registration']">
              SIGN UP
            </ion-text>
          </div>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
  </ion-content>
